<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>about</title>


    <style>

 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    background: orangered;
}

.heading h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}

.heading p {
    color: #fff;
    padding-top: .7rem;
    font-size: 1.7rem;
}

.heading p a {
    color: #fff;
}

.heading p a:hover {
    color: #333;
}

.title {
    font-size: 3rem;
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 1rem;

}

.title span{

    border-bottom: 0.2rem solid #333;
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 2.8rem;
    font-size: 1.7rem;
    color: #333;
    border: 0.2rem solid #333;
    background: none;
    cursor: pointer;
    border-radius: .5rem;
}

.btn:hover {
    background: #333;
    color: #fff;
}




body
{
    background-color: #232526;
}
.about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
}

.about .row .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .row .image img {
    width: 100%;
    border-radius: .5rem;
}

.about .row .content {
    text-align: left;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .row .content h3 {
    text-align: left;
    font-size: 3.5rem;
    color: skyblue;
    line-height: 2;
}

.about .row .content p {
    font-size: 1.6rem;
    line-height: 2.5;
    color:#fff;
    padding: 1rem 0;
}

.about .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.about .icons-container .icons {
    padding: 3rem 2rem;
    border-radius: .5rem;
    border: 0.2rem solid #333;
    text-align: center;
    cursor: pointer;
}

.about .icons-container .icons:hover {
    background: #fff;
}

.about .icons-container .icons:hover img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.about .icons-container .icons:hover h3 {
    color: #fff;
}

.about .icons-container .icons img {
    height: 7rem;
    margin-bottom: 1rem;
}

.about .icons-container .icons h3 {
    font-size: 1.7rem;
    color: #fff;
}











/* ----------------------------------------------------------------------------------------------------------------- */


    </style>
</head>

<body>

    <section class="heading">

        <h1>about us</h1>

    </section>

    <section class="about">

        <div class="row">

            <div class="image">

                
                <img src="~/Images/xyz.jpeg" />

            </div>

            <div class="content">

                <h3>Build Your New Future With Us</h3>

                <p>Move beyond just running your business by turning it into one that sees the next best action, and then acts as if on intuition—in the moments that matter.</p>

                <p>
                    For the present and future generations.

                    Our inception in 2023 was one of the biggest carve-outs our industry has ever seen,

                    and we have the digital, cloud, and cybersecurity capabilities to back it up. Let's develop jointly.

                    Try it with us, dare to. We'll act morally and encourage one another to continue being inquisitive.
                </p>

            </div>

        </div>

        <div class="icons-container">

            <div class="icons">

               
                <img src="~/Images/value.jpg" />

                <h3>What we value</h3>

                <p>We help imagine, build and implement technologies to keep our clients constantly aware and responsive.</p>

            </div>




            <div class="icons">

                
                <img src="~/Images/Believe.jpg" />

                <h3>What we believe</h3>

                <p>Our social purpose weaves environmental and social considerations into every element of our business model.</p>

            </div>




            <div class="icons">


                <img src="~/Images/who we are.jpg" />

                <h3>Who we are</h3>

                <p>Every day, all around the world, our people engineer impact―with their clients, communities, colleagues and in their own lives.</p>

            </div>




            <div class="icons">

                <img src="~/Images/behave.jpg" />

                <h3>How we behave</h3>

                <p>We respect everyone’s unique voice and background because we know that diversity helps us thrive, and we benefit from having everyone at the table.</p>

            </div>

        </div>

    </section>

</body>

</html>