@model Interview_Tracker.Models.Interviwer
@{
    ViewBag.Title = "Password Recovery";
}

<h2>Password Recovery</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", style = " font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 20px; color:#FF6D3C;" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
}
