@{
        ViewBag.Title = "Password Reset Successfully";
    }
<h3 style=" font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 40px;text-align:center; color: #FF6D3C; ">Password Reset Successfully</h3>
@*<h2>Password Reset Confirmation</h2>*@

<h3 style="font-family: 'Times New Roman', Times, serif;">Your password has been reset. Admin will send you new password via Email.</h3>
<p>Admin Contact:- admin.org@gmail.com </p>
