<style>
    body {
        background-color: #333333;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }

    .success-message {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 24px;
        background-color: #333333;
        color: #FF6D3C;
        padding: 20px;
    }
</style>

<div class="container">
    <div class="success-message">
        Your application submitted successfully!!!
    </div>
</div>
